* {
  margin: 0;
  box-sizing: border-box;
  }
  .box {
    width: 140.25px;
    height: 160px;
  }

  .item_Flex {
    background: #ffffff;        
    height: 480px;
    width: 561px;
    margin: 0px 7.5px;
    display: flex;
  }
  .flex1, .flex2, .flex3, .flex4 {
    display: flex;
    height: 480px;
    width: 140.25px;
  }
  .flex1 {    
    align-items: flex-end;
  }
  .flex1 .box {
    background: #74154f;
  }
  .flex2 {    
    align-items: center;
  }
  .flex2 .box {
    background: #411b87;
  }
  .flex3 .box {
    background: #c95113;
    height: auto;
  }
  .flex4 .box {
    background: #a53918;
  }

  .item_Grid {
    background: #ffffff;
    height: 480px;
    width: 561px;
    margin: 10px 7.5px 0px;
    display: grid;
    grid-template: repeat(4, 1fr)/repeat(5, 1fr);
  }
  .grid1 {
    background: #74154f;
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .grid2 {
    background:#411b87;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .grid3 {
    background: #c95113;
    grid-row: 1/4;
    grid-column: 3/4;
  }
  .grid4 {
    background: #a53918;
    grid-row: 1/2;
    grid-column: 4/5;
  }